!!!
%html
	%head
		%title DA Slideshows
		-# = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= stylesheet_link_tag "application", params[:controller], :media => "all"
		-# = javascript_include_tag "application", "data-turbolinks-track" => true
		= javascript_include_tag "application", params[:controller]
		= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:700,400"
		= csrf_meta_tags
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

	%body
		-# - if current_page?(controller: '/slideshows', action: 'slideshow') || current_page?(controller: '/slideshows', action: 'channels')
		- if current_page?(controller: '/slideshows', action: 'slideshow')
			= yield
			-# Just yield if we're on the slideshow or channel changer pages. No need for layout.
		
		- else 
			.container-fluid
				= render 'layouts/header'
				-if flash.any?
					.row
						-flash.each do |k, v|
							= content_tag(:div, v, class: "alert .alert-dismissible #{bootstrap_class_for(k)}", role: "alert") do
								= content_tag(:button, 'x', class: "close", data: { dismiss: 'alert' })
								= v
				= yield
				.row
					= render 'layouts/footer'
					-# .row
					-# 	= debug(params) if Rails.env.development?
